<%- include('partials/head') %>

<body>

     <%- include('partials/header') %> 

    

<div class="container">
    <h1> <%= pageTitle; %></h1>
    <%- include('partials/dataTable') %>
    <%- include('partials/homepage') %>

    <%- include('partials/newData') %>
</div>
    
    



    <%- //include('partials/footer') %>
</body>
</html>